<li class="list-group-item" *ngFor="let product of products; index as i">

    <a [routerLink]="['/edit', i]">
        <h5>{{product.product}}</h5>
    </a>

    <table>
        <tr *ngFor="let fit of product.fits">
            <td>{{fit.fit}}</td>
            <td>{{fit.mkt}}</td>
        </tr>
    </table>

</li>

<button id="btnCreateNewProdcut" class="btn btn-primary" [routerLink]="['new']">
    create new product
</button>

<div id="floatLeft">
    <button class="btn btn-sm">
        <fa-icon [icon]="iconCopy" (click)="copyObject()"></fa-icon>
    </button>
</div>