table {
    margin: 20px;
    max-width: 95%;
}

.iconDelete {
    color: red;
}

.iconSave {
    /* display: none; */
    color: green;
}

#addFit {
    color: green;
}

input {
    width: 100%;
}

td:first-child {
    text-align: center;
}