<input #productName class="form-control" [(ngModel)]="product.product">

<table>
    <tr *ngFor="let fit of product?.fits; index as index">
        <td>{{index +1}}</td>
        <td><input class="form-control" [(ngModel)]="fit.fit" #inputFit></td>
        <td><input class="form-control" [(ngModel)]="fit.mkt" #inputMkt></td>

        <td *ngIf="product.fits.length>1">
            <button class="btn btn-sm" (click)="deleteFit(index)">
                <fa-icon class="iconDelete" [icon]="iconDelete"></fa-icon>
            </button>
        </td>
    </tr>

    <!-- new fit component -->
    <tr *ngIf="showNewFitFields">

        <td #saveIcon class="iconSave">
            <fa-icon [icon]="iconSave" (click)="createFit([newFit, newMkt])"></fa-icon>
        </td>

        <td><input #newFit class="form-control" placeholder="fit"></td>
        <td><input #newMkt class="form-control" placeholder="mkt"></td>

        <td>
            <button class="btn btn-sm" (click)="showNewFitFields=false">
                <fa-icon class="iconDelete" [icon]="iconDelete"></fa-icon>
            </button>
        </td>

    </tr>

    <tr>
        <td>
            <fa-icon id="addFit" [icon]="iconAdd" (click)="showNewFitFields = true"></fa-icon>
        </td>
    </tr>
</table>

<div class="horizentalFlex">
    <button class="btn btn-danger btn-sm" routerLink="/" (click)="deleteProdcut()">
        delete product
        <fa-icon [icon]="iconDelete"></fa-icon>
    </button>
    <button class="btn btn-primary btn-sm" routerLink="/">
        go back
        <fa-icon [icon]="iconBack"></fa-icon>
    </button>
</div>