<div class="horizentalFlex">
    <div #saveIcon class="iconSave">
        <fa-icon [icon]="iconSave" (click)="updateProduct(productName, saveIcon)"></fa-icon>
    </div>
    <input #productName class="form-control" (keydown)="showSaveIcon(saveIcon)" value={{product?.product}}>
</div>

<table>
    <tr #row *ngFor="let fit of product?.fits;index as index">
        <td class="iconDelete">
            <fa-icon [icon]="iconDelete" (click)="deleteFit(index)"></fa-icon>
        </td>
        <td>
            <input #fitInput class="form-control" value={{fit?.fit}} (keydown)="showSaveIcon(saveIcon)">
        </td>
        <td>
            <input #mktInput class="form-control" value={{fit?.mkt}} (keydown)="showSaveIcon(saveIcon)">
        </td>
        <td #saveIcon class="iconSave">
            <fa-icon [icon]="iconSave" (click)="updateFit([fitInput, mktInput], saveIcon, index)">
            </fa-icon>
        </td>
    </tr>

    <tr #row *ngIf="showNewFitFields">
        <td class="iconDelete">
            <fa-icon [icon]="iconDelete" (click)="showNewFitFields=false"></fa-icon>
        </td>
        <td (keydown)="showSaveIcon(saveIcon)">
            <input #newFit class="form-control" placeholder="fit">
        </td>
        <td (keydown)="showSaveIcon(saveIcon)">
            <input #newMkt class="form-control" placeholder="mkt">
        </td>
        <td #saveIcon class="iconSave">
            <fa-icon [icon]="iconSave" (click)="createFit([newFit, newMkt])"></fa-icon>
        </td>

    </tr>
    <tr>
        <fa-icon id="addFit" [icon]="iconAdd" (click)="showNewFitFields = true"></fa-icon>
    </tr>
</table>

<div class="horizentalFlex">
    <button class="btn btn-primary" routerLink="/">go back</button>
    <button class="btn btn-danger" routerLink="/" (click)="deleteProdcut()">delete product</button>
</div>