/* You can add global styles to this file, and also import other style files */

body {
    padding: 20px;
    text-align: right;
    direction: rtl;
}

fa-icon {
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.horizentalFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}