* {
    text-align: right;
    direction: rtl;
}

.productName {
    font-size: large;
    font-weight: bold;
}

tr {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

td {
    min-width: 100px;
}

fa-icon:hover{
    cursor: pointer;
}